.header-wrapper{
	position: relative;	
	width: 100%;
	background-color: #fff;
	z-index: 50;
	&:after{
		content:'';
		position: absolute;
		bottom: 0;
		height: 1px;
		width: 100%;
		background-color: rgba(51, 51, 51, 0.15);
	}
}

.headroom {
	position: fixed;
  top: 0;
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);    
}
.headroom--unpinned {
    transform: translateY(-100%);    
}

.header{
	padding: 20px 30px 20px;	
	display: flex;	
	flex-wrap: wrap;	
	justify-content: center;	
	@include breakpoint(medium){
		flex-wrap: nowrap;
		justify-content: space-between;	
	}	
	.logo-container{		
		width: 200px;
		height: 60px;   
	}
	.logo{
		width: 100%;		
		height: 100%;
  	object-fit: contain;
	}
	.nav{
		display: flex;
    align-items: center;
	}	
	.nav-list{
		margin: 0 20px;
    	padding: 0;
    	list-style: none;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	@include breakpoint(medium){
    		justify-content: flex-end;
    	}
	}	

	.list-item{
		position: relative;		
		padding: 0 5px;
		&:not(:last-child){
			//margin-right: 10px;
		}		
	}
	.item-link{
		&.active{
		    color: $active-color;
		}
		&:hover{
			color: $active-color;
		}	
		display: block;	
		cursor: pointer;		
	}
	.nuv-sublist{
		display: none;
		list-style: none;				
		min-width: 100%;
		padding: 20px 5px 10px;
		background-color: #fff;
		position: absolute;		
		top: 100%;
		left: 0;
		z-index: 20;
	}	
	.sublist-item{
		display: block;
		&:not(:last-child){
			margin-bottom: 10px;
		}
	}
	.subitem-link{
		white-space: nowrap;
		display: block;
		&.active{
		    color: $active-color;
		}
		&:hover{
			color: $active-color;
		}	
	}

	.list-item:hover > .nuv-sublist {
    	display: block; 
	}
}