.about-wrapper{
	background-color: $background-blue;
}
.about{
	padding: 80px 40px 120px;
	@include breakpoint(medium){
		padding: 80px 15% 120px;
	}
	overflow: auto;
	.about-title{
		font-size: 40px;
		@include breakpoint(medium){
			font-size: 48px;
		}
		color: $white;
		text-align: center;
		margin-bottom: 50px;
	}	
	.about-img{
		display: block;	
		width: 45%;	
		margin: 15px auto;
		@include breakpoint(small){	
			margin: 15px;
			float: left;
		}	
	}	
}