.analiz-wrapper{
  background-color: #fff;
}
.analiz{
	overflow: auto;
  padding: 80px 0 120px;  
  .analiz-title{
    font-size: 40px;
    @include breakpoint(medium){
      font-size: 48px;
    }
    color: $black;
    text-align: center;
    margin-bottom: 50px;
  }  
}
.js-atlas{
  display: none;
  &.open{
    display: block;
  }
}
.city-button-container{
  padding: 40px 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}