.check{
	padding: 80px 10% 120px;
	text-align: center;	
	.check-title{
		font-size: 40px;
		@include breakpoint(medium){
			font-size: 48px;
		}
		color: $black;
		margin-bottom: 40px;
	}
	.title-text{
		position: relative;
		display: inline-block;
		padding-bottom: 10px;
		&:after{
    	content: '';
    	position: absolute;
    	bottom: 0;
    	left: 50%;
    	transform: translateX(-50%);
    	height: 5px;
    	width: 120%;
    	background-color: #34b1c4;
    }
	}
	.text{
		margin-bottom: 60px;
	}
}