/*=========================================================
  01. #GLOBAL
=========================================================*/
body{
  font-size: $global-font-size;   
  font-family: $global-font-family; 
  color: $text-color;   
}

p{
  margin: 0 0 1em;
  &:last-child{
    margin: 0;
  }	
}

a{	
  color: $text-color;
	text-decoration: none;
  cursor: pointer;  
}

.text{
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}
/*=========================================================
  05. #COLOR TEXT
=========================================================*/
 .text-white{
   color: $white;
 }